# Git
.git
.gitignore

# Docker
.dockerignore
Dockerfile
docker-compose.yml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/

# Local files
.env
*.wav

# Riva Quickstart
riva_quickstart_2.19.0/